{{{modelComments}}}export interface {{{modelClassWithType}}} {{#modelParent}}extends {{modelName}} {{/modelParent}}{
{{#modelProperties}}
{{{propertyComments}}}{{propertyName}}{{^propertyRequired}}?{{/propertyRequired}}: {{{propertyType}}};
{{/modelProperties}}
}
